:root {
  --mainBlue: #582841;
  --lightBlue: #c72c41;
  --mainWhite: #f3f3f3;
  --mainDark: #1b0c1b;
  --mainYellow: #ee4540;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive !important;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: var(--lightBlue) !important;
}

.text-title-sec {
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: none;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  text-transform: capitalize;
  font-size: 1rem !important;
  color: var(--mainBlue) !important;
  border-radius: 0.2rem !important;
  border: 0.15rem solid var(--lightBlue) !important;
  transition: 0.3s ease-out;
}

.btn-black:hover {
  background: var(--lightBlue);
  color: var(--mainWhite) !important;
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  color: var(--mainBlue);
  transition: all 0.3s ease-out;
}

.cart-icon:hover {
  color: var(--mainYellow);
}

.count-num {
  font-weight: bold !important;
  color: var(--mainBlue) !important;
}
